<div class="question-list-tile">
  <h4 class="question-list-text">{{#link-to 'question' question.id update="update"}}{{question.text}}{{/link-to}}</h4>
  <p>{{question.author}}</p>
</div>
{{#if userAuth.ifAuth}}
  {{update-question question=question update="update"}}
{{/if}}
<hr>
