$grey: grey;
$green: black;
$turquoise-trans: white;
$body-background: #00CC63;

body {
  // background-image: url('http://www.bhgconcepts.com/img/board-1226675.jpg');
  // background-size: 100% 100%;
  color: $green;
}
#userName {
  color: white;
}
#title {
  color: grey;
}


#info {
  text-align: center;
}
.img-avatar {
  max-height: 250px;
  max-width: auto;
  min-height: 100px;
  min-width: auto;
}

.wrapper {
  width: 90%;
  margin: 60px 10px;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  .side-box {
    background-color: $turquoise-trans;
    margin:20px 5px;
    padding: 5px 10px;
    border: 2px solid $grey;
    border-radius: 4px;
    width: 30%;
    color: $green;
    display: flex;
    flex-direction: column;
    #side-box-form {
      display: flex;
      justify-content: center;
      textarea {
        width: 100%;
        height: 100px;
      }
    }
    .master-title {
      text-align: center;
    }
    .img-circle {
      background-image: url('http://www.nasa.gov/sites/default/files/images/611573main1_2012_dark-rift-670.jpg');
      border: 4px inset white;
    }
  }
  .main-box {
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
    width: 90%;
    #question-day {
      background-color: $turquoise-trans;
      padding: 0 10px;
      border: 2px solid $grey;
      border-radius: 4px;
      #question-day-text {
        font-style: italic;
      }
      #question-day-author {
        font-weight: bold;
        text-align: center;
        #question-day-timestamp {
          font-weight: normal;
        }
      }
    }
    #question-list {
      background-color: $turquoise-trans;
      padding: 5px 10px;
      border: 2px solid $grey;
      border-radius: 4px;
      #question-list-heading {
        display: flex;
        justify-content: space-between;
      }
      .question-list-tile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .question-list-text {
          margin-top: 10px;
          font-style: italic;
        }
        p {
          font-weight: bold;
        }
        a {
          font-weight: bold;
          text-decoration: none;
          color: $green;
        }
      }
    }
    #question-content {
      background-color: $turquoise-trans;
      padding: 0 10px;
      border: 2px solid $grey;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      text-align: center;
      .question-author-info {
        display: flex;
        justify-content: space-between;
      }
      .question-notes {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        background-color: white;
        border: 2px solid grey;
        border-radius: 4px;
        min-height: 100px;
      }
    }
    #question-answers {
      margin-top: 10px;
      background-color: $turquoise-trans;
      padding: 0 10px;
      border: 2px solid $grey;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      .answer-text {
        padding-top: 5px;
        padding-left: 5px;
        display: flex;
        background-color: white;
        border: 2px solid grey;
        border-radius: 4px;
      }
      .answer-info {
        display: flex;
        justify-content: space-between;
      }
    }
    #update-question {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      .update-form {
        margin-top: 10px;
        // background-color: rgba(255,255,255, 0.8);
        // color: $turquoise-trans;
        padding: 10px 10px;
        border: 2px solid $grey;
        border-radius: 4px;
      }
    }
    #new-answer {
      margin-top: 10px;
      // background-color: $turquoise-trans;
      padding: 5px 10px;
      border: 2px solid $grey;
      border-radius: 4px;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    margin: 100px auto;
  }
}
