<div class="side-box">
  <h2 class="master-title">User Info:</h2>
  {{display-user}}
  {{user-avatar}}
  {{#link-to 'user'}}<button class="btn btn-success">Save</button>{{/link-to}}
</div>

<div class="main-box">
  {{choose-avatar updateAvatar="updateAvatar"}}
</div>
