<div class="side-box">
  <h2 class="master-title">Ask the Master:</h2>
  <div>
    <hr>
  </div>
  <img src="http://www.bhgconcepts.com/img/robot-1536843.png" alt="droid" class="img-responsive img-circle">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="main-box">
  {{user-login loginUser='loginUser'}}
  {{user-signup createUser="createUser"}}
</div>
