<div class="side-box">
  <h3>Avatar({{#link-to 'avatar'}}Change{{/link-to}})</h3>
  <div>
    <hr>
  </div>
  {{user-avatar}}
</div>
<div class="main-box">
  {{display-username}}
  <div id="question-list">
    <div id="question-list-heading">
      <h3>Questions</h3>
    </div>
    <hr>
    {{user-questions}}
  </div>
</div>
