<div class="side-box">
  <div id="user-info-header">
    <h3>Avatar({{#link-to 'avatar'}}Change{{/link-to}})</h3>
  </div>
  <div>
    <hr>
  </div>
  <div class="avatar-display">
    {{user-avatar}}
  </div>
</div>
<div class="main-box">
  {{display-username}}
  <div id="question-list">
    <div id="question-list-heading">
      <h3>Questions you've asked:</h3>
    </div>
    <hr>
    {{user-questions}}
  </div>
</div>
